<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 ">
      <button class="sidebar" routerLink="/addvisitor">
        Register New Visitor
      </button>
      <button class="sidebar" routerLink="/visitorlist">
        Display Visitor List
      </button>
      <button class="sidebar" routerLink="/addRoom">
        Add New Room
      </button>
      <button class="sidebar2" routerLink="/roomList">
        Display Room List
      </button>
      <button class="sidebar2" routerLink="/booking">
        Book a Room
    </button>
    <button class="sidebar2" routerLink="/booking-list">
      Display Booking List
  </button>
    </div>
    <div class="col-md-9">
      <h1>
        Summer Villa
      </h1>
      <h2>
        Where Every Stay Feels Like a Getaway
      </h2>
      <div class="content">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/car1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/car2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/car3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/car4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/car5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/car6.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>