:host {
    display: block;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto; /* Allows scrolling if content overflows */
}

.container {
    margin-top: 100px;
}
.title {
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.visitor-list {
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}
.visitor-list table {
    width: 100%;
    border-collapse: collapse;
}
.visitor-list th, .visitor-list td {
    border: 1.5px solid rgb(241, 234, 240);
    padding: 10px;
    text-align: center;
}

h1 {
    color: #8B0000;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}
.refresh-button {
    margin-top: 20px;
    margin-left: 45%;
   

}