<div class="container">
    <h1>Visitor List</h1>
    <h2>Escape to Paradise, Stay in Comfort</h2>
    <div class="visitor-list">
        <table>
            <thead>
                <tr>
                    <th>Full-Name</th>
                    <th>Gender</th>
                    <th>Phone-Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Nationalty</th>
                    <th>Id-Type</th>
                    <th>Id-Number</th>
                    <th>Number of Guest</th>
                    <th>payment-Method</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Details 1</td>
                    <td>Details 2</td>
                    <td>Details 3</td>
                    <td>Details 4</td>
                    <td>Details 5</td>
                    <td>Details 6</td>
                    <td>Details 7</td>
                    <td>Details 8</td>
                    <td>Details 9</td>
                    <td>Details 10</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="refresh-button">
        <button class="btn btn-primary">Refresh</button>
    </div>
</div>