<div class="container">
    <h1>Visitor List</h1>
    <h2>Escape to Paradise, Stay in Comfort</h2>
    <div class="visitor-list">
        <table>
            <thead>
                <tr>
                    <th>Visitor Id</th>
                    <th>Full-Name</th>
                    <th>Gender</th>
                    <th>Phone-Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Nationalty</th>
                    <th>Id-Type</th>
                    <th>Id-Number</th>
                    <th>Number of Guest</th>
                    <th>payment-Method</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visitor of visitorList;">
                    <td>{{visitor.visitorId}}</td>
                    <td>{{visitor.fullName}}</td>
                    <td>{{visitor.gender}}</td>
                    <td>{{visitor.phoneNumber}}</td>
                    <td>{{visitor.emailAddress}}</td>
                    <td>{{visitor.homeAddress}}</td>
                    <td>{{visitor.nationality}}</td>
                    <td>{{visitor.idType}}</td>
                    <td>{{visitor.idNumber}}</td>
                    <td>{{visitor.numberOfGuests}}</td>
                    <td>{{visitor.paymentMethod}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="refresh-button">
        <button class="sidebar" routerLink="/searchVisitor">Search Visitor </button>
    </div>
</div>