:host {
    display: block;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto; /* Allows scrolling if content overflows */
}


.container {
    text-align: center;
    padding-top: 60px;
}
h1 {
    color: #8B0000;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}
.flower-image {
    width: 200px;
    height: auto;
}
.form-control {
    background: rgba(131, 114, 114, 0.8);
    border: 2px solid #4a2c2a;
    border-radius: 30px;
    color: #180d0d;
    margin-top: 4%;
}
.form-control:focus {
    box-shadow: none;
    border-color: #7b2d26;
}
.btn-custom {
    background-color: #4B0082;
    border: none;
    border-radius: 25px;
    padding: 10px 27px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 12%;
    margin-top: 4%;
}
.btn-custom:hover {
    background-color: #5a1f1a;
}

.form-control1 {
    background: rgba(131, 114, 114, 0.8);
    border: 2px solid #4a2c2a;
    border-radius: 30px;
    color: #000000;
    margin-top: 4%;
    width: 55%;
    margin-left: 1.3%;
    padding: 0.6%;
}
.form-control1:focus {
    box-shadow: none;
    border-color: #7b2d26;
}