<div class="container">
    <h1>
        New Room
    </h1>
    <h2>
        Luxury Meets Nature at Summer Villa
    </h2>
    <img alt="Flower decoration" class="flower-image" height="100" src="\images\pngwing.com (3).png" width="200" />

    <div class="row mb-3">
        <div class="col">
            <div class="position-relative">
                <select class="form-control">
                    <input class="form-control" placeholder="Room Type" type="text" />
                    <option value="standard-room">Standard Room</option>
                    <option value="Family-room">Family Room</option>
                    <option value="other">Single Room</option>
                    <option value="other">Double Room</option>
                    <option value="other">Honeymoon Suite</option>
                    <option value="other">Deluxe Room</option>
                </select>
                <i class="bi bi-chevron-down position-absolute"
                    style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
            </div>
        </div>
        <div class="col">
            <div class="position-relative">
                <select class="form-control">
                    <input class="form-control" placeholder="Bed Type" type="text" />
                    <option value="standard-room">Single Bed</option>
                    <option value="Family-room">Twin Beds</option>
                    <option value="other">Double Bed</option>
                    <option value="other">Queen Bed</option>
                    <option value="other">King Bed</option>
                </select>
                <i class="bi bi-chevron-down position-absolute"
                    style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
            </div>
        </div>
    </div>





    <div class="row mb-3">
        <div class="col">
            <input class="form-control" placeholder="Amenities" type="text" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input class="form-control" placeholder="Price per Night" type="text" />
        </div>
    </div>
    <button class="btn btn-custom" type="submit">
        ADD
    </button>

</div>



<!-- <div class="position-relative">
    <select class="form-control" id="gender">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    <i class="bi bi-chevron-down position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
</div> -->