<div class="container">
    <h1>Booking List</h1>
    <h2>Escape to Paradise, Stay in Comfort</h2>
    <div class="room-list">
        <table>
            <thead>
                <tr>
                    <th>Booking Id</th>
                    <th>Vistor Id</th>
                    <th>Room Id</th>
                    <th>checkInDate</th>
                    <th>checkOutDate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookingList;">
                    <td>{{booking.bookingId}}</td>
                    <td>{{booking.visitorId}}</td>
                    <td>{{booking.roomId}}</td>
                    <td>{{booking.checkInDate}}</td>
                    <td>{{booking.checkOutDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="refresh-button">
        <button class="sidebar">Refresh</button>
    </div>
</div>