<div class="container">
    <h1>Visitor List</h1>
    <h2>Escape to Paradise, Stay in Comfort</h2>
    <div class="room-list">
        <table>
            <thead>
                <tr>
                    <th>Room Id</th>
                    <th>Room Type</th>
                    <th>Bed Type</th>
                    <th>amentities</th>
                    <th>Price per Night</th>
                    <th>avalability</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="refresh-button">
        <button class="sidebar"> Refresh</button>
    </div>
</div>